*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
	background-color: rgb(27, 26, 26);
}
.container{
    width: 100%;
    height: 100vh;
}
/* review  */
.review {
	max-width: 1000px;
	margin: 0 auto;
  	
  }
.review img{
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
  	background-position: center;
	width: 100%;
	height: 120%;
}
  
  h1 {
	font-size: 40px;
	color: #eee;
	text-transform: capitalize;
	text-align: center;
	padding: 40px 0;
	font-weight: 300;
  }
  
  h3 {
	font-size: 20px;
	color: #222;
	text-transform: capitalize;
	padding-bottom: 10px;
  }
  
  .cards {
	display: flex;
	flex-direction: column;
  }
  
  .card {
	width: 75%;
	margin: 0 auto;
	font-size: 15px;
	padding: 30px 50px;
	padding-left: 80px;
	background: rgba(255, 255, 255, 0.6);
	margin-bottom: 50px;
  
	border-top-left-radius: 40px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 40px;
  
	box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
	transform: skewX(-12deg);
  }
  
  .card__shap {
	width: 120px;
	height: 120px;
	float: left;
  
	clip-path: circle(50% at 50% 50%);
	shape-outside: circle(50% at 50% 50%);
  
	transform: translateX(-40px) skewX(12deg);
  
	position: relative;
	overflow: hidden;
  }
  
  .card__img {
	height: 100%;
	transform: translateX(-30px) scale(1.4);
	transition: all 0.5s;
	backface-visibility: hidden;
  }
  
  .card__caption {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 20%);
	color: #fff;
	font-size: 15px;
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
	backface-visibility: hidden;
	opacity: 0;
	transition: all 0.5s;
  }
  
  .card:hover .card__caption {
	opacity: 1;
	transform: translate(-50%, -50%);
  }
  .card:hover .card__img {
	transform: translateX(-30px) scale(1);
	filter: blur(3px) brightness(80%);
  }
  .card__text {
	transform: skewX(12deg);
  }

  /* ________________________ */
.slider{
    width: 100%;
    height: 600px;
    overflow: hidden;
}
  
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
  
.slides input{
    display: none;
}
  
.slide{
    width: 20%;
    transition: 2s;
}
  
.slide img{
    width: 100%;
    height: 600px;
}
  
  /*css for manual slide navigation*/
.navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: -50px;
    display: flex;
    justify-content: center;
}
  
.manual-btn{
    border: 2px solid #deeaeb;
    padding: 5px;
    border-radius: 10px;
	margin-top: 30px;
    cursor: pointer;
    transition: 2s;
}
.manual-btn:not(:last-child){
    margin-right: 20px;
}
.manual-btn:hover{
    background: black;
}  
#radio1:checked ~ .first{
    margin-left: 0%;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
/* image navigation auto  */
.navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: -50px;

}
.navigation-auto div{
    border: 2px solid #deeaeb;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 2s;
	display: none;
}
.slides .first .text{
	z-index: 5;
	position: absolute;
	color: white;
}

/* end of slider  */
.logo-origin{
    float: left;
	width: 40%;
	height: 100%;
	display: block;
	align-items: center;
	font-size: 19px;
	color: #fff;
}
.navbar{
    position: absolute;
    position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	height: 50px;
	background-color: rgb(12, 11, 11,0.8);
	border-bottom: 1px solid #fff;
}
ul{
    float: right;
	padding: 0;
	margin: 0;
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
    
}
ul li{
    list-style-type: none;
    margin: 0 5px;	
}
.nav-links{
	text-decoration: none;
    color: rgb(239, 248, 248);
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    font-size: 20px;
	/* padding-right: 2px; */
	/* padding-left: px; */
	transition: all 1s;

}
.nav-links:hover{
	color: #0c0c0c;
	background: #2196f3;
	/* border: 2px solid ; */
	box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3;
	border-radius: 2px;
	padding: 5px;
}

#nav-toggle {
	position: absolute;
	top: -100px;
}
.navbar .icon-burger {
	display: none;
	position: absolute;
    color: white;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
.navbar .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
.text1{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: black;
	font-weight: 500;
	margin-left: 20px;
	margin-top: 10px;
	width: 100%;
	font-size: 30px;
	text-transform: uppercase;
	align-items: center;
	-webkit-box-reflect: below 0.5px linear-gradient(transparent,#0008);
	line-height: 0.80em;
	outline: none;
	animation: animate 6s linear infinite;
}
@keyframes animate {

	0%,18%,20%,50.1%,60%,65.2%,80%,90.20%,98%{
		color: #413f3f;
		text-shadow: none;
	}
	18.15%,20%,60%,70%,80%,90%,98%,100%{
		color: #2196f3;
		text-shadow: 0 0 10px #2196f3,
					0 0 20px #2196f3,
					0 0 40px #2196f3,
					0 0 80px #2196f3,
					0 0 160px #2196f3,
			
		;
	}
}.text{
	text-align: center;
    color: rgb(2, 2, 2);
    margin-left: 20px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


/* video  */
.weekly{
    width: 100%;
    height: 100px;
	position: relative;
}
.weekly::after{
	content: 'fdsa';
	width: 100%;
	height: 300px;
	position: absolute;
	top: -30%;
	left: 0;
	background-color: black;
	opacity: 0.2;
	z-index: 1;
}
.weekly video{
    position: absolute;
    top: -30px;
	height: 300px;
    width: 100%;
    object-fit: cover ;
    background: rgb(10, 10, 10,0.4);
	
}
.weekly-text{
	text-decoration: none;
	color: white;
	font-weight: 700;
}
.btn{
    padding: 20px;
    width: 200px;
    background:linear-gradient(to right bottom,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.3));
    font-size: 20px;
    color: rgb(234, 238, 232);
    border: 1px solid whitesmoke;
    border-radius: 4px;
    cursor: pointer;
    font-family: Impact;
    position: absolute;
    /* transform: translateX(230%); */
    top: 50%;
	right: 40%;
    box-shadow: 5px 10px 20px rgb(0, 0, 0);
    transition: all 2s;
	z-index: 3;

}
.btn:hover{
    border-radius: 20px;
	color: black;
	background: #1a93f7;
	box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3;
}
@media screen and (max-width: 1000px) {
	.navbar .logo-origin {
		float: none;
		width: auto;
		justify-content: center;
	}
	.navbar ul {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 50px;
		bottom:100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content:flex-start;
		background-color: rgba(5, 5, 5, 0.5);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	.nav-links:hover{
		
	}
	.navbar ul a {
		font-size: 20px;
		margin-top: 60px;
	}
	.navbar :checked ~ ul {
		bottom: 0;
	}
    .navbar .icon-burger {
		display: block;
	}
	.btn{
		padding: 20px;
		width: 150px;
		font-size: 20px;
		top: 60%;
		right: 34%;
	
	}
	
}

/* about us  */
.about-area{
	margin-top: 30px;
}
ul.about-content{
	width: 100%;
	display: flex;
	/* flex-wrap:wrap; */
	justify-content: center;
}
.about-content li{
	padding: 20px;
	height: 290px;
	background-clip: content-box;
	background-size: cover;
	background-position: cover;
}
.about-left{
	flex-basis: 40%;
	background-image: url(../img/icon.jpg);
	background-position: center;
	background-color: black;
}
.about-right{
	flex-basis: 60%;
	color: white;

}
.about-right p {
	max-width: 800px;
	margin-bottom: 35px;
	line-height: 1.5;
	text-align: left;
	padding-left: 0;
}
.about-title {
	text-transform: uppercase;
	font-size: 50px;
	margin-bottom: 5%;
	color: #fff	;
}
.about-right h2 {
	margin-bottom: 3%;
}
.about-btn {
	padding: 15px 35px;
	background: rgb(19, 18, 18);
	border-radius: 50px;
	text-transform: uppercase;
	color: #fff;
}
.about-btn a{
	text-decoration: none;
	color: white;
}
@media (max-width: 1000px) {
	.about-content{
		flex-wrap: wrap;
	}
	.about-left, .about-right {
		flex-basis: 100%;
	}
	.about-content li {
		padding: 8px;
	}
}

/* contact us */
.contact-area{
	width: 100%;
	height: 400px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	color: white;
}
.contact-left{
	flex-basis: 50%;
	background-color: rgb(0, 0, 0,0.8);
	position: relative;
}
.contact-left h1{
	margin: 20px 0px 10px 40px ;
	font-size: 20px;
}
.contact-left p{
	font-size: 10px;
	padding: 2px 40px 20px 40px ;
}
.contact-content .address {
	float: left;
	padding: 20px;
	margin-top: 20px;
	margin-left: 20px;
}
.contact-left h3{
	position: absolute;
	top: 45%;
	left: 5%;
	text-transform:capitalize;
}
.form-to-send{
	display: flex;
	position: absolute;
	top: 55%;
	flex-wrap: wrap;
	margin: 5px;
	margin-left: 30px;

	
}
.form-to-send input{
	background-color: black;
	border:2px solid white ;
	margin-top: 5px;
	color: white;
}
.form-to-send ::placeholder{
	color: white;
}
#message{
	padding-right:328px ;
	padding-bottom: 60px;
}
#submit{
	margin:10px 50px 20px 450px ;
	padding: 5px;
	color: rgb(255, 255, 255);
	border: 2px solid rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	font-weight: bold;
}
#submit:hover{
	border: 2px solid rgb(0, 0, 0);
	background-color: rgb(246, 246, 246);
	color: rgb(0, 0, 0);
}
#email{
	padding-right: -20px;
}
.send{
	flex: 0 1 45.7%;
	border: 2px solid black;
	padding:5px 15px 5px 5px;
	
}
.contact-right{
	flex-basis: 50%;
	max-width: 50%;
}
.map{
	width: 100%;
}

@media (max-width:480px){
	.contact-left,.contact-right{
		flex-basis: 100%;
		height: 410px;
	}
	#message{
		padding-right:298px ;
	}
	.contact-content .address {
		padding: 3px;
	}
	#submit{
		margin:39px 51px 0px 20px;
	}
	.send{
		padding-right: 9%;
	}
	#message{
		padding-right: 9%;
	}
	.contact-right{
		flex-basis: 100%;
		max-width: 100%;
	}
}
